html,
body {
  /* background: rgb(184, 24, 24); */
  margin: 0;
  background-color: cornflowerblue;
  min-height: 100vh;
}
h1,
h3,
h4 {
  color: rgb(94, 255, 0);
}
.App {
  font-family: sans-serif;
  text-align: center;
  width: 100%;
  min-height: 75vh;
}

.app-container {
  max-width: 900px;
  margin: 0 auto;
}
.home-wrapper {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
 
}
.home-img {
  width: 300px;
	height: 15vh;
	-webkit-transform: scale(1.5);
	transform: scale(1.5);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.home-img:hover{
  -webkit-transform: scale(1);
	transform: scale(1);
  width: 350px;
}
.logo {
  width: 15%;
}
.btn {
  color: black;
  background-color: white;
  align-items: center;

  margin-bottom: 420px;
  width: 50%;

  height: 64px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}
.btn:hover {
  background-color: rgb(243, 247, 242);
}
nav {
  height: 50px;
  background-color: cornflowerblue;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

nav a {
  padding: 10px;
  color: rgb(43, 43, 255);
  text-decoration: none;
  font-size: 1.2rem;
}

