html,
body {
 
  margin: 0;
  background-color: rgb(211, 221, 240);
  min-height: 100vh;
}
h1,
h3,
h4 {
  color: rgb(12, 179, 190);
}
.App {
  
  font-family: sans-serif;
  text-align: center;
  width: 100%;
  
}
.app-container {
  max-width: 900px;
  margin: 0 auto;
}
 .logo {
   border: 2px dashed rgb(94, 255, 0);
   max-width: 50%;
   height: 85px;
   
  }
  .comic-img {
    border-radius: 20px ;
    max-width: 100%;
    width: 95%;
  height: 550px;
   
  }
img {
  border:2px dashed rgba(0, 38, 255, 0.87);
  max-width: 100%;
  height: auto;
}
button{
  border:1px solid red;
  border-radius: 10px;
}
.home-wrapper {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 50px;
  align-items: center;
  height: 700px;
}

nav {
  
  height: 25px;
  background-color: cornflowerblue;
  
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

nav a {
  
  height: 25px;
  padding: 5 0px;
  color: rgb(9, 12, 9);
  text-decoration: none;
  font-size: 1.2rem;
}
/* This Ends the styles for the landing page Home.js */
.char-card img {
  width: 200px;
  height: auto;
  border-radius: 50%;
  margin: 20px;
}

.char-card {
 
  border: 1px solid rgb(141, 37, 37);
  width: 300px;
  margin: 20px auto;
}
.char-page {
  
  background-color: rgb(159, 166, 180);
}
.char-page img {
  border: 1px dashed black;
  width: 100%;
}

ul {
  list-style: none;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

li {
  border: 1px solid silver;
  padding: 15px;
  width: 30%;
  margin: 0 auto;
  margin: 10px;
}

.avenger-name {
  cursor: pointer;
}
